@model IEnumerable<TransactionViewModel>
@{
    ViewData["Title"] = "Incomes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Incomes</h1>
<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
        <th>
            Amount
        </th>
        <th>
            Category
        </th>
        <th>
            Time
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model)
    {
        <tr>
            <td>
                @transaction.Amount
            </td>
            <td>
                @transaction.Category
            </td>
            <td>
                @transaction.DateTime
            </td>
        </tr>
    }
    </tbody>
</table>
